asgiref @ file:///Users/ec2-user/ci_py311/asgiref_1678390266874/work
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
defusedxml==0.7.1
Django @ file:///Users/ec2-user/ci_py311/django_1678411010555/work
django-allauth==0.54.0
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1663854154474/work
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.6
idna==3.4
inflection==0.5.1
mysqlclient @ file:///Users/ec2-user/ci_py311/mysqlclient_1678418599102/work
oauthlib==3.2.2
packaging==23.1
pycparser==2.21
PyJWT==2.6.0
python3-openid==3.2.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML==6.0
requests==2.31.0
requests-oauthlib==1.3.1
sqlparse @ file:///Users/ec2-user/ci_py311/sqlparse_1678394278812/work
uritemplate==4.1.1
urllib3==2.0.3
